@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-foreground;
    background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
      linear-gradient(to bottom, #80808012 1px, transparent 1px);
    background-size: 24px 24px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .radial-glow {
    background-image: radial-gradient(
      circle at center,
      rgba(255, 135, 0, 0.1) 0%,
      transparent 50%
    );
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
}
